html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.78947;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

*, :after, :before {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 120px 60px;
    /*font-family: Baskerville, Times, serif;*/
    font-family: "Lucida Console", Monaco, monospace;
    color: DarkGrey;
    background-color: #FFF;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'kern' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'liga' 1
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: MediumSpringGreen;
    text-decoration: none;
}

p {
    margin: 0;
}

article {
    font-size: 1.4rem;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: MediumSpringGreen;
}

.header {
    border-bottom: 1px solid MediumSpringGreen;
    padding: 30px 0 15px 0;
    position: fixed;
    top: 0;
    left: 60px;
    right: 60px;
    background: #FFF;
    transition: all .2s ease-in-out;
}

.header__logo-line,
.header h1 {
    font-size: 21px;
    display: inline-block;
    margin: 0;
}

.header__logo-link {
    font-size: 28px;
}

.header__contact-list {
    padding: 0;
    margin: 0;
    float: right;
}

.header__contact-list li {
    list-style: none;
    display: inline-block;
    font-size: 21px;
    margin-left: 5px;
}

.header__contact-list li:first-child {
    margin-left: 0;
}

.header__contact-list li a {
    width: 10px;
    height: 10px;
}

.section__work {
    border-bottom: 1px solid MediumSpringGreen;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

@media screen and ( max-width: 1024px ){
    .header__contact-list {
        float: none;
    }
}

@media screen and ( max-width: 580px ){
    body {
        padding: 120px 15px 15px 15px;
    }

    .header {
        padding: 15px 60px 15px 15px;
        right: 0;
        left: 0;
    }

    .header__logo-line {
        display: none;
    }

    .header__logo-link {
        font-size: 21px;
    }

}

@media screen and ( max-height: 500px ){
    header {
        padding-top: 15px;
    }
}